body #root {
  font-family: "Poppins", sans-serif !important;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav h1 {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  color: #e7ab3c;
}

nav .nav-link,
nav button {
  color: white !important;
  border-color: white !important;
}
nav .nav-link.active,
nav .nav-link:hover {
  color: #e7ab3c !important;
}
nav .nav-icons {
  position: absolute;
  right: -10px;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e7ab3c;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}
.wishlist-active {
  color: #e7ab3c;
}

/*************** homepage ********************/
.hero-section {
  background-image: url(assets/images/banner-1.jpg.webp);
  height: 70vh !important;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
.hero-section .hero-section-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}
.hero-section .hero-section-overlay h2 {
  color: #e7ab3c;
  font-size: 45px;
}
.main-header {
  position: relative;
}
.main-header::after,
.main-header::before {
  content: "";
  position: absolute;
  width: 38%;
  height: 1px;
  background-color: #cccccc;
  top: 50%;
}
.main-header::after {
  left: 0;
}
.main-header::before {
  right: 0;
}
/***************** Forms ***********/
.signin-form,
.signup-form,
.address-form {
  background-image: url(assets/images/form2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #252525dc;
  width: 50%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form input {
  border-radius: 0 !important;
}
form button {
  background-color: #e7ab3c !important;
  color: white !important;
  border: 2px solid #e7ab3c !important;
}
form button:hover {
  background-color: transparent !important;
}

.main-btn {
  background-color: #252525 !important;
  color: white;
}
.main-btn:hover {
  background-color: #e7ab3c !important;
}
.product-quickview {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 188888 !important;
}
.product-quickview .container {
  background-color: white;
  width: 65%;
  position: relative;
}
.product-quickview h2 {
  color: #252525;
}
.product-quickview .price {
  color: #252525;
}
.product-quickview button:first-of-type {
  background-color: #252525 !important;
  color: white !important;
  border: 2px solid #252525 !important;
}
.product-quickview button:first-of-type:hover {
  background-color: transparent !important;
  color: #252525 !important;
}
.product-quickview button:nth-of-type(2) {
  background-color: transparent;
  border: 2px solid #252525;
}
.product-quickview .fa-star:not(.text-muted) {
  color: #e7ab3c !important;
}
@media (max-width: 992px) {
  .navbar-nav.ul-icons {
    flex-direction: row;
  }
  form {
    width: 90% !important;
  }
  .main-header::after,
  .main-header::before {
    width: 28%;
  }
}
